{% extends 'GESystemManageBundle::system-manage.html.twig' %}

{% block title %}修改年级信息—年级信息管理—系统管理{% endblock %}

{% block right -%}
    <h1>
        修改年级信息
        <a href="{{ path('gradeinformation') }}">
            {% image '@AppBundle/Resources/public/images/back.png' %}
                <img src="{{ asset_url }}" width="12" height="12" alt="返回年级信息列表" title="返回年级信息列表">
            {% endimage %}
            <span>返回年级信息列表</span>
        </a>
    </h1>

    {{ form_start(edit_form) }}
    
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.grade, {'attr': {'placeholder': '请输入年级代号', 'autocomplete': 'off'} }) }}
        {{ form_row(edit_form.description, {'attr': {'placeholder': '请输入年级描述信息', 'autocomplete': 'off'} }) }}
        {{ form_row(edit_form.submit, {'attr': {'class': 'btn' } }) }}

    {{ form_end(edit_form, {'render_rest': true}) }}

{% endblock %}
