{% extends 'AppBundle::manage.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {%  stylesheets                
        '@GESystemManageBundle/Resources/public/css/grade.css'    
        filter='cssrewrite'  
    %}
        <link rel="stylesheet" href="{{asset_url}}"/>
    {% endstylesheets %}
{% endblock %}

{% block content -%}
	<div class="common-block manage">
		<div class="left">
			<div class="left-title">系统管理</div>
			<aside class="manage-nav">
				<label>基本信息设置</label>
				<ul>
					<li><a href="{{ path('gradeinformation') }}" class="selected">年级信息维护</a></li>
					<li><a href="{{ path('examinationroominfomation') }}">学院信息维护</a></li>
					<li><a href="{{ path('academyinfomation') }}">考场信息维护</a></li>
				</ul>
				<label>系统维护</label>
				<ul>
					<li><a href="#">数据备份还原</a></li>
					<li><a href="#">数据字典维护</a></li>
				</ul>
				<label>题库管理</label>
				<ul>
					<li><a href="#">题库的导入更新</a></li>
				</ul>
				<label>学生信息管理</label>
				<ul>
					<li><a href="#">学生信息的导入与更新</a></li>
				</ul>
			</aside>
		</div>
		<div class="right">
			{% block right -%}{% endblock %}
		</div>
	</div>
{% endblock %}