{% extends 'UserBundle:Student:layout.html.twig' %}

{% block title %}学生信息管理—考务管理{% endblock %}

{% block loading %}正在加载学生信息列表，请稍等……{% endblock %}

{% block right %}
    <h1>
        学生信息列表
    </h1>
    <div class="common-find">
        <ul>
            <li>学生账号：<input type="text" name="StudentName" class="common-findByText"></li>
            <li>学生姓名：<input type="text" name="StudentId " class="common-findByText"></li>
            <li><a href="#">
                <img src="{{  asset('images/manage/view.png')  }}"  alt="查找" title="查找" />
                查找</a></li>
        </ul> 
    </div>

    <div class="common-action">
        <a href="#" class="btn btn-common-action select-all">
            <input type="checkbox" hidden/>
            <i></i>
            全选
        </a>
        <a href="{{ path('Student_new') }}" class="btn btn-common-action">
                <img src="{{  asset('images/manage/add.png')  }}" width="20" height="20" alt="添加学生信息" title="添加学生信息">
            添加学生信息
        </a>
        <a href="#" class="btn btn-common-action">        
            <img src="{{  asset('images/manage/edit.png')  }}" width="20" height="20" alt="批量修改" title="批量修改">
            批量修改
        </a>
        <a href="#" class="btn btn-common-action btn-multi-delete">        
            <img src="{{  asset('images/manage/deletes.png')  }}" width="20" height="20" alt="批量删除" title="批量删除">
            批量删除
        </a>
    </div>
    <table class="common-table Students">
        <thead>
            <tr>
                <th>编号</th>
                <th>学号</th>
                <th>姓名</th>
                <th>学院</th>
                <th>年级</th>
                <th>邮箱</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        {% if Students|length == 0 %}
            <tr>
                <td colspan=6>尚不存在学生信息，请您添加！</td>
            <tr>
        {% else %}
            {% for Student in Students %}
                <tr>
                    <td>
                        <input type="checkbox" name="Students" value="{{ Student.id }}" hidden />
                        <a href="{{ path('Student_show', { 'id': Student.id }) }}">{{ Student.id }}</a>
                    </td>
                    <td>{{ Student.username }}</td>
                    <td>{{ Student.name }}</td>
                    <td>{{ Student.academicID }}</td>
                    <td>{{ Student.gradeID }}</td>
                    <td>{{ Student.email }}</td>
                    <td>
                        <a href="{{ path('Student_show', { 'id': Student.id }) }}">  
                            <img src="{{  asset('images/manage/view.png')  }}" width="20" height="20" alt="查看" title="查看">
                        </a>
                        <a href="{{ path('Student_edit', { 'id': Student.id }) }}">
                            <img src="{{  asset('images/manage/edit.png')  }}" width="20" height="20" alt="编辑" title="编辑">
                        </a>
                        <a href="javascript:void(0)" class="delete-btn" Student-id="{{ Student.id }}" >
                            <img src="{{  asset('images/manage/delete.png')  }}" width="20" height="20" alt="删除" title="删除">
                        </a>
                        <div id="delete-dialog_{{ Student.id }}" class="delete-dialog" title="删除确认" Student-id={{ Student.id }} hidden>
                            <p>确定要删除   <span class="dialog-item-key">{{Student.name}}</span>   的信息吗？</p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <!-- 批量删除对话框 -->
    <div class="multi-delete-dialog" title="批量删除确认" hidden>
        <p>确定要删除选中的学生信息吗？</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manage/user-manage/Student_index.js') }}"></script> 
{% endblock %}
