{% extends 'UserBundle:Student:layout.html.twig' %}

{% block title %}添加学生—基本信息设置—考务管理{% endblock %}

{% block loading %}正在加载添加表单……{% endblock %}

{% block right -%}

    <h1>
        添加学生信息
        <a href="{{ path('student_index') }}">
            <img src="{{ asset('images/manage/back.png') }}" width="12" height="12" alt="返回学生信息列表" title="返回学生信息列表">
            <span>返回学生信息列表</span>
        </a>
    </h1>

    <div class="tabs" id="student-add-tabs">
        <div class="tab-title">
            <ul>
                <li>
                    <a href="javascript:void(0)" name="#student-single-add">
                        单个添加学生信息
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" name="#student-import">
                        批量导入学生信息
                    </a>
                </li>
            </ul>   
        </div>
        <div class="tab-content">
            <div id="student-single-add">
                {{ form_start(new_form) }}
                    {{ form_errors(new_form) }}

                    {{ form_row(new_form.student_id, {'attr': {'placeholder': '请输入学号', 'autocomplete': 'off'} }) }}
                    {{ form_row(new_form.name, {'attr': {'placeholder': '请输入姓名', 'autocomplete': 'off'} }) }}
                    {{ form_row(new_form.email, {'attr': {'placeholder': '请输入邮箱', 'autocomplete': 'off'} }) }}
                    {{ form_row(new_form.telephone, {'attr': {'placeholder': '请输入手机号码', 'autocomplete': 'off'} }) }}
                    {{ form_row(new_form.password, {'attr': {'placeholder': '请输入密码', 'autocomplete': 'off'} }) }}
                    {{ form_row(new_form.grade) }}
                    {{ form_row(new_form.academy) }}
                    {{ form_row(new_form.save, {'attr': {'class': 'btn'} }) }}

                {{ form_end(new_form, {'render_rest': true}) }}
                
            </div>
            <div id="student-import">
                <form method="post" {{ form_enctype(import_form) }}>
                     {{ form_widget(import_form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manage/user-manage/student_new.js') }}"></script>
{% endblock %}
