{% extends 'PaperManageBundle:QuestionType:layout.html.twig' %}

{% block title %}添加题型—试卷管理—系统管理{% endblock %}

{% block loading %}正在加载添加表单……{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/manage/paper-manage/question-type_new&edit.css') }}"/>
{% endblock %}


{% block right -%}
    <h1>
        添加试题类型
        <a href="{{ path('question_type_index') }}">
            <img src="{{ asset('images/manage/back.png') }}" width="12" height="12" alt="返回试题类型列表" title="返回试题类型列表">
            <span>返回试题类型列表</span>
        </a>
    </h1>
    
    <div class="item-add-steps">
        <div class="step active">题型基本信息</div>
        <div class="next-step" title="下一步"><img src="{{ asset('images/manage/next.png') }}" width="14" height="14" alt="下一步"></div>
        
        <div class="step active add-item-stem" title="点击添加题干">添加题干</div>
        <div class="next-step" title="下一步"><img src="{{ asset('images/manage/next.png') }}" width="14" height="14" alt="下一步"></div>
        
        <div class="step active add-item-option" title="点击添加试题选项">
            <a href="javascript:void(0)" class="item-operation">添加试题选项</a>
        </div>
        <div class="next-step" title="下一步"><img src="{{ asset('images/manage/next.png') }}" width="14" height="14" alt="下一步"></div>
        
        <div class="step active add-question">
            <a href="javascript:void(0)" class="item-operation">添加小题</a>
            <ul class="add-question-of-type">
                <li class="add-single-choice">单项选择题</li>
                <li class="add-multiple-choice">多项选择题</li>
                <li class="add-blank-filling">填空题</li>
                <li class="add-simple-answer">简答题</li>
                <li class="add-true-or-false">判断题</li>
                <li class="add-record">录音题</li>
                <li class="add-sorting">排序题</li>
                <li class="add-correction">改错题</li>
            </ul>
        </div>

        <a href="javascript:void(0)" class="btn add-btn complete-btn disabled">完成添加</a>            

    </div>
    <div class="basic-infor">
        <div class="title" title="点击显示/隐藏该区域">
            试题类型基本信息
        </div>
        {{ form_start(new_form) }}
            {{ form_errors(new_form) }}

                {{ form_row(new_form.nameEn, {'attr': {'placeholder': '请输入题型名(英文)', 'autocomplete': 'off'} }) }}

                {{ form_row(new_form.nameCh, {'attr': {'placeholder': '请输入题型名(中文)', 'autocomplete': 'off'} }) }}
                
                <div>
                    {{ form_label(new_form.flowable) }}
                    <label  class="checkbox-label" title="是否为流程性试题。听力试题、口语试题等题型是按照一定的流程完成播放、显示、答题整个过程，其用时是已知的，称为流程性试题。">
                        {{ form_widget(new_form.flowable) }}  是否为流程性试题             
                    </label>
                </div>

                <div>
                    {{ form_label(new_form.shuffle) }}
                    <label  class="checkbox-label" title="当试题选项存在时，该参数控制试题选项是否打乱。当试题选项不存在，小题存在选项时，该参数控制小题选项是否打乱">
                        {{ form_widget(new_form.shuffle) }} 选项是否打乱
                    </label>
                </div>

                {{ form_row(new_form.description, {'attr': {'placeholder': '请输入题型描述'} }) }}

            <div class="item-structure">
            	{{ form_row(new_form.structure, {'attr': {'placeholder': '请输入题型结构'} }) }}
            </div>    
            <div class="form-add" hidden>
        	{{ form_row(new_form.save, {'attr': {'class': 'btn add-btn'} }) }}
            </div>
        {{ form_end(new_form, {'render_rest': true}) }}
    </div>
    <div id="item-area">
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manage/paper-manage/item.js') }}"></script>
    <script src="{{ asset('js/manage/paper-manage/question-type_new.js') }}"></script>
{% endblock %}
