<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        
        <title>
            {% block title %}首页{% endblock %}
        </title>
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/common/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/common/common.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/common/header.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/common/jquery-ui.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/common/delete-dialog.css') }}" rel="stylesheet" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/common/jquery.js') }}"></script>
            <script src="{{ asset('bundles/app/js/common/jquery-ui.js') }}"></script>
        {% endblock %}
        
    </body>
</html>
