<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        
        <title>
            {% block title %}首页{% endblock %}
        </title>
            
        <!-- 页面css -->
        {% block stylesheets %}
            <link href="{{ asset('css/common/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/common/common.css') }}" rel="stylesheet" />            
            <link href="{{ asset('css/common/jquery-ui/jquery-ui.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/common/header&footer.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/common/loading.css') }}" rel="stylesheet" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
    </head>
    <body> 
        <!-- 页面加载提示 -->  
        <div class="loading">
            <div class="loading-content">
                <img src="{{  asset('images/common/loading.gif')  }}" alt="正在加载" title="正在加载"/>
                <span class="loading-description">{% block loading %}{% endblock %}</span>
            </div>
        </div>
        
        <!-- 页面头部 -->
        {% block header %}{% endblock %}
    
        <!-- 页面内容 -->
        {% block content %}{% endblock %}

        <!-- 页面尾部 -->
        {% block footer %}{% endblock %}

        <!-- 页面脚本 -->
        {% block javascripts %}
            <script src="{{ asset('js/common/jquery.js') }}"></script>
            <script src="{{ asset('js/common/jquery-ui.js') }}"></script>
            <script src="{{ asset('js/common/loading.js') }}"></script>
            <script src="{{ asset('js/manage/delete.js') }}"></script>
        {% endblock %}       
    </body>
</html>
