<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        
        <title>
            {% block title %}首页{% endblock %}
        </title>
        
        {% block stylesheets %}
            <link href="{{ asset('css/common/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/common/common.css') }}" rel="stylesheet" />            
            <link href="{{ asset('css/common/jquery-ui.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/common/header&footer.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/common/wait-loading.css') }}" rel="stylesheet" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block header %}{% endblock %}
    
        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/common/jquery.js') }}"></script>
            <script src="{{ asset('js/common/jquery-ui.js') }}"></script>
            <script src="{{ asset('js/common/wait-loading.js') }}"></script>
        {% endblock %}
        
    </body>
</html>
