{% extends 'GESystemManageBundle::system-manage.html.twig' %}

{% block title %}添加考场—基本信息设置—系统管理{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {%  stylesheets                
        '@GESystemManageBundle/Resources/public/css/examination-room.css'    
        filter='cssrewrite'  
    %}
        <link rel="stylesheet" href="{{asset_url}}"/>
    {% endstylesheets %}
    
{% endblock %}

<<<<<<< HEAD
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@GESystemManageBundle/Resources/public/js/examination-room_new.js'
    %} 
    <script type="text/javascript" src="{{ asset_url }}"></script>   
    {% endjavascripts %}
{% endblock %}

=======
>>>>>>> c5e2351979858460450c41575fa83d801c7fcd83
{% block right -%}
    <h1>
        添加考场
        <a href="{{ path('examinationroom') }}">
            {% image '@AppBundle/Resources/public/images/back.png' %}
                <img src="{{ asset_url }}" width="12" height="12" alt="返回考场信息列表" title="返回考场信息列表">
            {% endimage %}
            <span>返回考场信息列表</span>
        </a>
    </h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.roomName, {'attr': {'placeholder': '请输入考场名称', 'autocomplete': 'off'} }) }}
        <div class="er-rows-cols">
            {{ form_row(form.row, {'attr': {'placeholder': '0', 'autocomplete': 'off', 'class': 'er-rows'} }) }}
            <span>行</span>
            {{ form_row(form.col, {'attr': {'placeholder': '0', 'autocomplete': 'off', 'class': 'er-cols'} }) }}
            <span>列</span>
        </div>
        <div id="selectedtable">
            <table id="table">
                {% for i in 1..10 %}
                    <tr>
                        {% for i in 1..10 %}
                            <td><div class="box"></div></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        {{ form_row(form.availableMachineNumber, {'attr': {'placeholder': '请输入可用机器数', 'autocomplete': 'off', 'class': 'available-machine'} }) }}
        {{ form_row(form.faultMachine, {'attr': {'placeholder': '请填写故障机器编号，用逗号隔开', 'autocomplete': 'off', 'class': 'fault-machine'} }) }}
        {{ form_row(form.submit, {'attr': {'class': 'btn' } }) }}

    {{ form_end(form, {'render_rest': true}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@GESystemManageBundle/Resources/public/js/examination-room_new.js'
    %} 
    <script type="text/javascript" src="{{ asset_url }}"></script>   
    {% endjavascripts %}
{% endblock %}
