{% extends 'UserBundle:Manager:layout.html.twig' %}

{% block title %}教师信息管理—考务管理{% endblock %}

{% block loading %}正在加载教师信息列表，请稍等……{% endblock %}

{% block right %}
    <h1>
        教师信息列表
    </h1>
    <div class="common-find">
        <ul>
            <li>教师账号：<input type="text" name="managerName" class="common-findByText"></li>
            <li>教师姓名：<input type="text" name="managerId " class="common-findByText"></li>
            <li>教师权限：
                <select>
                    <option value="zs">系统管理员</option>
                    <option value="zs">考务员</option>
                    <option value="zs">英语教师</option>
                    <option value="zs">调度员</option>
                    <option value="zs">题库管理员</option>
                </select>
            </li>
            <li><a href="#">
                <img src="{{  asset('images/manage/view.png')  }}"  alt="查找" title="查找" />
                查找</a></li>
        </ul> 
    </div>

    <div class="common-action">
        <a href="#" class="btn btn-common-action select-all">
            <input type="checkbox" hidden/>
            <i></i>
            全选
        </a>
        <a href="{{ path('manager_new') }}" class="btn btn-common-action">
                <img src="{{  asset('images/manage/add.png')  }}" width="20" height="20" alt="添加教师信息" title="添加教师信息">
            添加教师信息
        </a>
        <a href="#" class="btn btn-common-action">        
            <img src="{{  asset('images/manage/edit.png')  }}" width="20" height="20" alt="批量修改" title="批量修改">
            批量修改
        </a>
        <a href="#" class="btn btn-common-action btn-multi-delete">        
            <img src="{{  asset('images/manage/deletes.png')  }}" width="20" height="20" alt="批量删除" title="批量删除">
            批量删除
        </a>
    </div>
    <table class="common-table managers">
        <thead>
            <tr>
                <th>编号</th>
                <th>工号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>权限</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        {% if managers|length == 0 %}
            <tr>
                <td colspan=6>尚不存在教师信息，请您添加！</td>
            <tr>
        {% else %}
            {% for manager in managers %}
                <tr>
                    <td>
                        <input type="checkbox" name="managers" value="{{ manager.id }}" hidden />
                        <a href="{{ path('manager_show', { 'id': manager.id }) }}">{{ manager.id }}</a>
                    </td>
                    <td>{{ manager.username }}</td>
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.telephone }}</td>
                    <td>{{ manager.email }}</td>
                    <td>
                        <a href="{{ path('manager_show', { 'id': manager.id }) }}">  
                            <img src="{{  asset('images/manage/view.png')  }}" width="20" height="20" alt="查看" title="查看">
                        </a>
                        <a href="{{ path('manager_edit', { 'id': manager.id }) }}">
                            <img src="{{  asset('images/manage/edit.png')  }}" width="20" height="20" alt="编辑" title="编辑">
                        </a>
                        <a href="javascript:void(0)" class="delete-btn" manager-id="{{ manager.id }}" >
                            <img src="{{  asset('images/manage/delete.png')  }}" width="20" height="20" alt="删除" title="删除">
                        </a>
                        <div id="delete-dialog_{{ manager.id }}" class="delete-dialog" title="删除确认" manager-id={{ manager.id }} hidden>
                            <p>确定要删除   <span class="dialog-item-key">{{manager.name}}</span>   的信息吗？</p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <!-- 批量删除对话框 -->
    <div class="multi-delete-dialog" title="批量删除确认" hidden>
        <p>确定要删除选中的教师信息吗？</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manage/user-manage/manager_index.js') }}"></script> 
{% endblock %}
