{% extends 'UserBundle:Manager:layout.html.twig' %}

{% block title %}添加教师—基本信息设置—考务管理{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/manager_new.css') }}"/>
{% endblock %}

{% block right -%}
    <div class="user-add">
        <a href="#" class="btn btn-common-action add-selected">单个添加教师信息</a>   
        <a href="#" class="btn btn-common-action no-selected">批量导入教师信息</a>
        <a href="{{ path('manager_index') }}">
            <img src="{{ asset('images/manage/back.png') }}" width="12" height="12" alt="返回教师信息列表" title="返回教师信息列表">
            <span>返回教师信息列表</span>
        </a>
    </div>

    {{ form_start(new_form,{'attr': {'class': 'single-teacher-add'}} ) }}
        {{ form_errors(new_form) }}

        {{ form_row(new_form.username, {'attr': {'placeholder': '请输入教师工号', 'autocomplete': 'off'} }) }}
        {{ form_row(new_form.name, {'attr': {'placeholder': '请输入姓名', 'autocomplete': 'off'} }) }}
        {{ form_row(new_form.email, {'attr': {'placeholder': '请输入邮箱', 'autocomplete': 'off'} }) }}
        {{ form_row(new_form.telephone, {'attr': {'placeholder': '请输入手机号码', 'autocomplete': 'off'} }) }}
        {{ form_row(new_form.roles) }}
        {{ form_row(new_form.plainPassword) }}
        {{ form_row(new_form.save, {'attr': {'class': 'btn'} }) }}

    {{ form_end(new_form, {'render_rest': true}) }}

    <form class="import-form" action="#" method="post" hidden>
        <label for="teacher-information">选择文件</label>
        <input type="file" id="teacher-information" placeholder="请选择导入文件" />
        <p class="help-block">上传的文件类型只能是：.xls、.doc</p>
        <button class="btn">确定导入</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/manager_new.js') }}"></script>
{% endblock %}
