{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Academicid</th>
                <th>Gradeid</th>
                <th>Telenumber</th>
                <th>Authority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.UserID }}</td>
                <td>{{ entity.UserName }}</td>
                <td>{{ entity.Email }}</td>
                <td>{{ entity.Password }}</td>
                <td>{{ entity.academicID }}</td>
                <td>{{ entity.gradeID }}</td>
                <td>{{ entity.telenumber }}</td>
                <td>{{ entity.authority }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
