{% extends 'GESystemManageBundle:Grade:layout.html.twig' %}

{% block title %}修改年级信息—基本信息设置—系统管理{% endblock %}

{% block right -%}
    <h1>
        修改年级信息
        <a href="{{ path('grade_index') }}">
            <img src="{{ asset('bundles/app/images/manage/back.png') }}" width="12" height="12" alt="返回年级信息列表" title="返回年级信息列表">
            <span>返回年级信息列表</span>
        </a>
    </h1>

    {{ form_start(edit_form) }}
    
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.grade, {'attr': {'placeholder': '请输入年级代号', 'autocomplete': 'off'} }) }}
        {{ form_row(edit_form.description, {'attr': {'placeholder': '请输入年级描述信息', 'autocomplete': 'off'} }) }}
        {{ form_row(edit_form.save, {'attr': {'class': 'btn' } }) }}

    {{ form_end(edit_form, {'render_rest': true}) }}

{% endblock %}
