{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/manage/manage-common.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <div class="header" >
        <div class="common-block">
            <div class="logo">英语通用考试系统</div>
            <nav>
                <ul>
                    <li><a href="{{ path('manage') }}">首页</a></li>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">帮助中心</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content -%}
    <div class="common-block manage">
        <div class="left">
            {% block left -%}{% endblock %}
        </div>
        <div class="right">
            {% block right -%}{% endblock %}

            <!-- 管理端 操作提示信息 -->
            <div class="flash-message">
                {% for success_message in app.session.flashbag.get('success') %}
                    <div class="notice success">
                        {{ success_message }}
                    </div>
                {% endfor %}
                {% for warning_message in app.session.flashbag.get('warning') %}
                    <div class="notice warning">
                        {{ warning_message }}
                    </div>
                {% endfor %}
                {% for error_message in app.session.flashbag.get('error') %}
                    <div class="notice error">
                        {{ error_message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer" >
        <div class="common-block">
            copyright © 中国科学技术大学 现代教育技术中心
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manage/manage_common.js') }}"></script>
{% endblock %}