{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ExaminationRoomInfomation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roomname</th>
                <th>Row</th>
                <th>List</th>
                <th>Availablemachinenumber</th>
                <th>Faultmachine</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('examinationroominfomation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.roomName }}</td>
                <td>{{ entity.row }}</td>
                <td>{{ entity.list }}</td>
                <td>{{ entity.availableMachineNumber }}</td>
                <td>{{ entity.faultMachine }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('examinationroominfomation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('examinationroominfomation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('examinationroominfomation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
