{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/manage/manage-common.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <div class="header" >
        <div class="common-block">
            <div class="logo">英语通用考试系统</div>
            <nav>
                <ul>
                    <li><a href="{{ path('manage') }}">首页</a></li>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">帮助中心</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content -%}
    <div class="common-block manage">
        <div class="left">
            {% block left -%}{% endblock %}
        </div>
        <div class="right">
            {% block right -%}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/common/manage_common.js') }}"></script>
{% endblock %}