{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/manage/manage-common.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <div class="header" >
        <div class="common-block">
            <div class="logo">英语通用考试系统</div>
            <nav>
                <ul>
                    <li><a href="{{ path('manage') }}">首页</a></li>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">帮助中心</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content -%}
    <div class="common-block manage">
        <div class="left">
            {% block left -%}{% endblock %}
        </div>
        <div class="right">
            {% block right -%}{% endblock %}
            <div class="flash-message">
                <div class="notice warning">
                    成功成功成功成功成功成功成功成功成功
                </div>
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="notice success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="notice warning">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="notice error">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/common/manage_common.js') }}"></script>
{% endblock %}