{% extends ':manage:manage_base.html.twig' %}

{% block left -%}
	<div class="left-title">试卷管理</div>
	<aside class="manage-nav">
		<label>题库管理</label>
		<ul>
			<li>
				<a href="{{ path('question_type_index') }}" class="{% if nav_title == 'question-type' %}selected{% endif %}">题型管理</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="{% if nav_title == 'question' %}selected{% endif %}">试题管理</a>
			</li>			
		</ul>
		<label>试卷库管理</label>
		<ul>
			<li>
				<a href="{{ path('grade_index') }}" class="{% if nav_title == 'paper' %}selected{% endif %}">试卷管理</a>
			</li>
			<li>
				<a href="{{ path('grade_index') }}" class="{% if nav_title == 'compose-paper' %}selected{% endif %}">组卷</a>
			</li>
		</ul>
	</aside>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/common/react/react.js') }}"></script>
    <script src="{{ asset('js/common/react/react-dom.js') }}"></script>
    <script src="{{ asset('js/common/react/browser.min.js') }}"></script>
{% endblock %}
