{% extends 'GESystemManageBundle:GradeInformation:grade.html.twig' %}

{% block title %}学院信息管理—系统管理{% endblock %}

{% block right -%}
    <h1>
        学院信息列表
    </h1>
    <div class="common-action">
        <a href="{{ path('academyinfomation_new') }}" class="btn btn-common-action">
            {% image '@AppBundle/Resources/public/images/add.png' %}
                <img src="{{ asset_url }}" width="20" height="20" alt="添加学院信息" title="添加学院信息">
            {% endimage %}
            添加学院信息
        </a>
        <a href="#" class="btn btn-common-action">
            {% image '@AppBundle/Resources/public/images/deletes.png' %}
                <img src="{{ asset_url }}" width="20" height="20" alt="批量删除" title="批量删除">
            {% endimage %}
            批量删除
        </a>
    </div>
    <table class="academyies">
        <thead>
            <tr>
                <th>编号</th>
                <th>学院代号</th>
                <th>学院名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('academyinfomation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.academyID }}</td>
                <td>{{ entity.academyName }}</td>
                <td>
                    <a href="{{ path('academyinfomation_show', { 'id': entity.id }) }}">
                        {% image '@AppBundle/Resources/public/images/view.png' %}
                            <img src="{{ asset_url }}" width="20" height="20" alt="查看" title="查看">
                        {% endimage %}
                    </a>
                    <a href="{{ path('academyinfomation_edit', { 'id': entity.id }) }}">
                        {% image '@AppBundle/Resources/public/images/edit.png' %}
                            <img src="{{ asset_url }}" width="20" height="20" alt="编辑" title="编辑">
                        {% endimage %}
                    </a>
                    <a href="{{ path('academyinfomation_delete', { 'id': entity.id }) }}">
                        {% image '@AppBundle/Resources/public/images/delete.png' %}
                            <img src="{{ asset_url }}" width="20" height="20" alt="删除" title="删除">
                        {% endimage %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


