{% extends 'SystemManageBundle:ExaminationRoom:layout.html.twig' %}

{% block title %}考场信息管理—系统管理{% endblock %}

{% block loading %}正在加载考场信息列表{% endblock %}

{% block right -%}
    <h1>
        考场信息列表
    </h1>
    
    <div class="common-action">
        <a href="{{ path('examinationroom_new') }}" class="btn btn-common-action">
            <img src="{{  asset('images/manage/add.png')  }}" width="20" height="20" alt="添加考场信息" title="添加考场信息">
            添加考场信息
        </a>
        <a href="#" class="btn btn-common-action">
            <img src="{{  asset('images/manage/deletes.png')  }}" width="20" height="20" alt="批量删除" title="批量删除">
            批量删除
        </a>
    </div>
    <table class="common-table examination-rooms">
        <thead>
            <tr>
                <th>编号</th>
                <th>考场名</th>
                <th>机器行数</th>
                <th>机器列数</th>
                <th>可用机器数</th>
                <th>故障机器</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% if examinationrooms|length == 0 %}
            <tr>
                <td colspan=7>尚不存在考场信息，请您添加！</td>
            </tr>
        {% else %}
            {% for examinationroom in examinationrooms %}
                <tr>
                    <td>
                        <input type="checkbox" name="examination-romms" hidden />
                        <a href="{{ path('examinationroom_show', { 'id': examinationroom.id }) }}">{{ examinationroom.id }}</a>
                    </td>
                    <td>{{ examinationroom.roomName }}</td>
                    <td>{{ examinationroom.row }}</td>
                    <td>{{ examinationroom.col }}</td>
                    <td>{{ examinationroom.availableMachineNumber }}</td>
                    <td class="fault-machine-td" examinationroom-id="{{ examinationroom.id }}" examinationroom-row="{{ examinationroom.row }}" examinationroom-col="{{ examinationroom.col }}" examinationroom-available-machine="{{ examinationroom.availableMachineNumber }}" >
                        {{ examinationroom.faultMachine }}
                        <div id="examinationroom_{{ examinationroom.id }}" class="show-fault-machine" examinationroom-id="{{ examinationroom.id }}" >
                        这里是故障机器列表
                        </div>
                    </td>
                    <td>
                         <a href="{{ path('examinationroom_show', { 'id': examinationroom.id }) }}">
                            <img src="{{  asset('images/manage/view.png')  }}" width="20" height="20" alt="查看" title="查看">
                        </a>
                        <a href="{{ path('examinationroom_edit', { 'id': examinationroom.id }) }}">
                            <img src="{{  asset('images/manage/edit.png')  }}" width="20" height="20" alt="编辑" title="编辑">
                        </a>
                        <a href="javascript:void(0)" class="delete-btn" examinationroom-id="{{ examinationroom.id }}">
                            <img src="{{  asset('images/manage/delete.png')  }}" width="20" height="20" alt="删除" title="删除">
                        </a>
                        <div id="delete_examinationroom_{{ examinationroom.id }}" class="delete-dialog" title="删除确认" examinationroom-id={{ examinationroom.id }} hidden>
                            <p>你确定要删除   <span class="dialog-item-key">{{examinationroom.roomName}}</span>   的考场信息吗？</p>
                        </div>
                    </td>
                </tr>
                
            {% endfor %}
        {% endif %}

        </tbody>
        <tfoot>
            <tr>
            <td colspan="7">
                {{ knp_pagination_render(examinationrooms) }}            
            </td>
            </tr>
        </tfoot>
    </table>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/systemmanage/js/examination-room_index.js') }}"></script>
{% endblock %}