{% extends 'SystemManageBundle:ExaminationRoom:layout.html.twig' %}

{% block title %}添加考场—基本信息设置—系统管理{% endblock %}


{% block right -%}
    <h1>
        添加考场
        <a href="{{ path('examinationroom_index') }}">
            <img src="{{ asset('images/manage/back.png') }}" width="12" height="12" alt="返回考场信息列表" title="返回考场信息列表">
            <span>返回考场信息列表</span>
        </a>
    </h1>

    {{ form_start(new_form) }}
        {{ form_errors(new_form) }}

        {{ form_row(new_form.roomName, {'attr': {'placeholder': '请输入考场名称', 'autocomplete': 'off'} }) }}
        <div class="er-rows-cols">
            {{ form_row(new_form.row, {'attr': {'placeholder': '0', 'autocomplete': 'off', 'class': 'er-rows'} }) }}
            <span>行</span>
            {{ form_row(new_form.col, {'attr': {'placeholder': '0', 'autocomplete': 'off', 'class': 'er-cols'} }) }}
            <span>列</span>
        </div>
        <div class="er-rows-cols-table">
            <table>
                {% for i in 1..10 %}
                    <tr>
                        {% for i in 1..10 %}
                            <td></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        {{ form_row(new_form.availableMachineNumber, {'attr': {'placeholder': '请输入可用机器数', 'autocomplete': 'off',  'class': 'available-machine'} }) }}
        {{ form_row(new_form.faultMachine, {'attr': {'placeholder': '请从下列机器列表中选择故障机器', 'autocomplete': 'off', 'class': 'fault-machines'} }) }}

        <div class="fault-machine-table">
            <div class="tips">
                <span>单击相应表格添加/取消故障机器:</span>
                <span class="normal">正常</span>
                <span class="fault">故障</span> 
            </div>
            <table>
            </table>
        </div>
        {{ form_row(new_form.save, {'attr': {'class': 'btn' } }) }}

    {{ form_end(new_form, {'render_rest': true}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/systemmanage/js/examination-room_new&edit.js') }}"></script>
{% endblock %}
