{% extends 'SystemManageBundle:ExaminationRoom:layout.html.twig' %}

{% block title %}查看考场信息—基本信息设置—系统管理{% endblock %}

{% block loading %}正在加载{{ examinationroom.roomName }}的详细信息{% endblock %}

{% block right -%}
    <h1>
          查看考场信息
        <a href="{{ path('examinationroom_index') }}">
            <img src="{{ asset('images/manage/back.png') }}" width="12" height="12" alt="返回考场信息列表" title="返回考场信息列表">
            <span>返回考场信息列表</span>
        </a>
    </h1>
    <div class="common-action">
        <a href="{{ path('examinationroom_edit', { 'id': examinationroom.id }) }}" class="btn btn-common-action">
            <img src="{{ asset('images/manage/edit.png') }}" width="20" height="20" alt="编辑" title="编辑">
            编辑
        </a>
        <a href="javascript:void(0)" class="delete-btn btn btn-common-action" examinationroom-id="{{ examinationroom.id }}">
            <img src="{{ asset('images/manage/delete.png') }}" width="20" height="20" alt="删除" title="删除">
            删除
        </a>
        <div id="delete-dialog_{{ examinationroom.id }}" class="delete-dialog" title="删除确认" examinationroom-id={{ examinationroom.id }} hidden>
            <p>你确定要删除   <span class="dialog-item-key">{{examinationroom.roomName}}</span>   的考场信息吗？</p>
        </div>
    </div>
    <table class="common-table">
        <tbody>
            <tr>
                <th>编号</th>
                <td>{{ examinationroom.id }}</td>
            </tr>
            <tr>
                <th>考场名称</th>
                <td>{{ examinationroom.roomName }}</td>
            </tr>
            <tr>
                <th>机器行数</th>
                <td>{{ examinationroom.row }}</td>
            </tr>
            <tr>
                <th>机器列数</th>
                <td>{{ examinationroom.col }}</td>
            </tr>
            <tr>
                <th>可用机器数</th>
                <td>{{ examinationroom.availableMachineNumber }}</td>
            </tr>
            <tr>
                <th>故障机器列表</th>
                <td>{{ examinationroom.faultMachine }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manage/system-manage/examination-room_show.js') }}"></script>
{% endblock %}
