{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Examination list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Testname</th>
                <th>Teststate</th>
                <th>Testtime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('examination_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.testName }}</td>
                <td>{{ entity.testState }}</td>
                <td>{{ entity.testTime }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('examination_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('examination_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('examination_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
