{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Examination</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Testname</th>
                <td>{{ entity.testName }}</td>
            </tr>
            <tr>
                <th>Teststate</th>
                <td>{{ entity.testState }}</td>
            </tr>
            <tr>
                <th>Testtime</th>
                <td>{{ entity.testTime }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('examination') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('examination_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
